<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bok.blog.mapper.UserMapper">

    <select id="top5" resultType="BoardVo">
        SELECT *
        FROM board
        WHERE board_regdate >= ?
        ORDER BY board_like_cnt DESC
        LIMIT 5;
    </select>

    <select id="list" resultType="BoardVo">
        SELECT *
        FROM board
        ORDER BY board_regdate DESC;
    </select>

    <select id="searchList" parameterType="String" resultType="BoardVo">
        SELECT *
        FROM board
        WHERE board_title LIKE CONCAT('%', #{title}, '%')
        ORDER BY board_regdate DESC
    </select>
</mapper>