<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bok.blog.mapper.UserMapper">

    <select id="existUser_email" parameterType="String">
        SELECT COUNT(user_email)
        FROM user
        WHERE user_email = #{user_email}
    </select>

    <insert id="signUp" parameterType="UserVo">
        INSERT INTO user(user_email, user_pw, user_nick, user_regdate)
        VALUES (#{user_email}, #{user_pw}, #{user_nick}, now())
    </insert>

    <select id="validation" parameterType="UserVo">
        SELECT COUNT(user_email)
        FROM user
        WHERE user_email = #{user_email}
    </select>

    <select id="signIn" parameterType="String" resultType="UserVo">
        SELECT *
        FROM user
        WHERE user_email = #{user_email}
    </select>

    <select id="info" parameterType="String" resultType="UserVo">
        SELECT *
        FROM user
        WHERE user_email = #{user_email}
    </select>

    <update id="modify" parameterType="UserVo">
        UPDATE user
        SET
        <if test="user_nick != null and user_nick != ''">
            user_nick = #{user_nick},
        </if>
        <if test="user_thumb != null and user_thumb != ''">
            user_thumb = #{user_thumb},
        </if>
        user_moddate = now()
        WHERE id = #{id}
    </update>
</mapper>