<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="cacheEnabled" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.bok.blog.vo.UserVo" alias="UserVo" />
        <typeAlias type="com.bok.blog.vo.BoardVo" alias="BoardVo" />
        <typeAlias type="com.bok.blog.vo.PopularSearchVo" alias="PopularSearchVo" />
    </typeAliases>
</configuration>